/*! grid.scss | MIT License | https://github.com/jeromev/grid.scss */

//===============================================
// VARS
//===============================================

$base-font-size: 16px !global; // (px)
$base-cap-height: 0.698 !global; // this value has to be adjusted to the font used
$optical-adjustment-width: 1.1618; // any width needs to be adjusted to look equal to some height
$base-line-height: 0.74 !global; // ex.: golden ratio
$base-scale: 2 !global;



$base-unit: $base-line-height / $base-scale * $base-font-size !global; // (px)

//===============================================
// FUNCTIONS
//===============================================

@function em($px: 0, $font-size: $base-font-size) {
  @return $px / $font-size + em;
}
@function rem($px: 0) {
  @return $px / $base-font-size + rem;
}
@function grid-units-h($q: 1) {
  @return rem($q * $base-unit * $optical-adjustment-width);
}
@function guh($q: 1) {
  @return grid-units-h($q);
}
@function guh-right($q: 1) {
  @return guh($q / $optical-adjustment-width);
}
@function grid-units-v($q: 1) {
  @return rem($q * $base-unit);
}
@function guv($q: 1) {
  @return grid-units-v($q);
}

//===============================================
// MIXINS
//===============================================

@mixin debug($v: 0) {
  &:before {
    content: unquote("'" + $v + "'");
    background: white;
    color: red;
    padding: 0.25em 0.5em;
    border-radius: 50%;
  }
}

@mixin padh($guh: 1) {
  padding-right: guh($guh / 2);
  padding-left: guh($guh);
}
@mixin margh($guh: 1) {
  margin-right: guh($guh / 2);
  margin-left: guh($guh);
}
@mixin padv($guv: 1) {
  padding-top: guv($guv);
  padding-bottom: guv($guv);
}
@mixin margv($guv: 1) {
  margin-top: guv($guv);
  margin-bottom: guv($guv);
}
// set-base-font-size()
@mixin set-base-font-size($font-size: $base-font-size, $line-height: $base-line-height) {
  $base-font-size: $font-size !global;
  $local-font-size: $font-size !global;
  $base-line-height: $line-height !global;
  $base-unit: $base-line-height / $base-scale * $base-font-size !global;
  font-size: $base-font-size;
  line-height: $base-line-height + rem;
}

// show-baseline()
// Display the grid as a background image
@mixin show-baseline($color: rgba(0, 0, 0, 0.1667)) {
  background-image: linear-gradient(
    to bottom,
    $color 0%,
    transparent 20%
  );
  background-size: 100% em($base-unit);
  background-position: left top;
}

// align-to-baseline()
// based on a gist by Razvan Onofrei: https://gist.github.com/razwan/10662500
// See https://medium.com/@razvanonofrei/aligning-type-to-baseline-the-right-way-using-sass-e258fce47a9b
// see also https://gist.github.com/jeromev/11301969
@mixin align-to-baseline($font-size: $base-font-size, $offset-top: 0, $offset-bottom: 0, $method: 2, $scale: $base-scale) {
  // integer number of base units that can fit the given font-size
  $lines: ceil($font-size / $base-unit);
	// calculate the new line-height
	$line-height: $base-unit * $lines;  // (px)
	$line-height-ratio: $line-height / $base-font-size;
  // print the results
  font-size: rem($font-size);
  line-height: rem($line-height);
	$baseline-distance: ($line-height-ratio - $base-cap-height) / $scale * $base-font-size;  // (px)
	$offset-top: $offset-top * $base-unit;  // (px)
	$offset-bottom: $offset-bottom * $base-unit;  // (px)

	// METHOD 1
	// this method can relatively move down elements you may not want to
	@if ($method == 1) {
	  position: relative;
	  top: rem($baseline-distance + $offset-top);
	  padding-bottom: rem($offset-bottom);
	}
	// METHOD 2
	// use this mixin only on elements that have one direction margins
	// http://csswizardry.com/2012/06/single-direction-margin-declarations
	@if ($method == 2) {
    padding-top: rem($baseline-distance + $offset-top);
    margin-bottom: rem($line-height - $baseline-distance - $base-unit + $offset-bottom);
  }
	// METHOD 3: padding-only
	@if ($method == 3) {
    padding-top: rem($baseline-distance + $offset-top);
    padding-bottom: rem($line-height - $baseline-distance - $base-unit + $offset-bottom);
  }
}
