@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,700");
@import url("https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.css");
@import url("https://cdn.rawgit.com/kennethormandy/utility-opentype/master/css/utility-opentype.min.css");
/*! grid.scss | MIT License | https://github.com/jeromev/grid.scss */
* {
  margin: 0;
  padding: 0;
}

body, html {
  font-family: 'IBM Plex Sans', sans-serif;
  font-kerning: normal;
  font-variant: normal;
  font-synthesis: none;
  font-size: 10px;
  line-height: 0.74rem;
}

description {
  font-size: 0.75rem;
}

copyright {
  font-size: 0.563rem;
}

container {
  display: block;
  width: 92%;
  margin: 0 auto;
}

footer {
  align-items: flex-end;
}

header {
  align-items: flex-start;
}

header, footer {
  height: 250px;
  background-color: blue;
  padding: 2em;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

article {
  flex-basis: auto;
}

article h1 {
  font-size: 3.157rem;
  line-height: 3.33rem;
  padding-top: 1.316rem;
  margin-bottom: 0.164rem;
  font-weight: 900;
}

article h2 {
  font-size: 2.369rem;
  line-height: 2.59rem;
  padding-top: 0.946rem;
  margin-bottom: 1.274rem;
  font-weight: 400;
  color: #363636;
}

article h3 {
  font-size: 1.777rem;
  line-height: 1.85rem;
  padding-top: 0.576rem;
  margin-bottom: 0.904rem;
}

article h4 {
  font-size: 1.333rem;
  line-height: 1.48rem;
  padding-top: 0.391rem;
  margin-bottom: 0.719rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.85rem;
  padding-top: 0.08279rem;
  margin-bottom: -0.08242rem;
  max-width: 70ch;
}

article h1, h2, h3, h4 {
  max-width: 48.86ch;
}

article p {
  font-weight: 400;
}

article p:first-child {
  font-weight: 500;
  color: #5E5E5E;
}

article p + p {
  font-size: 1.6rem;
  line-height: 1.85rem;
  padding-top: 0.08279rem;
  margin-bottom: 1.39721rem;
  text-indent: 2ch;
}

article p:first-child::first-line {
  text-indent: none;
}

/*# sourceMappingURL=main.css.map */
