@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,700');
@import url('https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.css');
@import url('https://cdn.rawgit.com/kennethormandy/utility-opentype/master/css/utility-opentype.min.css');
// Typography grid by Jérôme Vogel
@import "grid.scss";


//
// START Typography SETTINGS
//

$base-font-size: 16px !global; // (px)
$base-cap-height: 0.698 !global; // this value has to be adjusted to the font used
$optical-adjustment-width: 1 !global; // any width needs to be adjusted to look equal to some height
$base-scale: 2 !global;

//
// END Typography SETTINGS
//


//
// Element RESET
//
* {
    margin: 0;
    padding: 0;
}
//
// Forcing UTF-8 encoding in the main stylesheet using the @charset directive. Source - www.sass-guidelin.es
//
@charset 'utf-8';

// Maximum of characters per line expressed in ch (character) unit
$minLineLength: 44ch;
// Maximum of characters per line expressed in ch (character) unit
$maxLineLength: 70ch;

body, html {
    //@include show-baseline();
    font-family: 'IBM Plex Sans', sans-serif;
    // Font kerning information stored in the font must be applied.
    font-kerning: normal;
    font-variant: normal;
    // The style rule below disables the use of synthetically obliqued French
    // https://www.w3.org
    font-synthesis: none;
    //font-size: 16px;
    @include set-base-font-size(10px);


}
//
// START Additional HTML TAGS
//
description {
    font-size: 0.75rem;
}
copyright   {
font-size: 0.563rem;
}
container {
    display: block;
    width: 92%;
    margin: 0 auto;
}
footer  {
    align-items:flex-end;
}
header {
    align-items:flex-start;
}
header,footer {
    height: 250px;
    background-color: blue;

    padding: 2em;
}
//
// END Additional HTML TAGS
//
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
article {
    flex-basis: auto;
}

//
// 1.333 - Perfect Fourth Type Scale (https://type-scale.com/)
//
$h1Scale: 3.157;
$h2Scale: 2.369;
$h3Scale: 1.777;
$h4Scale: 1.333;


//
// START Article Styling
//

article h1 {
    @include align-to-baseline($base-font-size * $h1Scale,0,-4);
    font-weight:900;
}
article h2 {
    @include align-to-baseline($base-font-size * $h2Scale);
    font-weight:400;
    color: #363636;
}
article h3 {
    //font-size: 1.266rem;
    @include align-to-baseline($base-font-size * $h3Scale);
}
article h4 {
    @include align-to-baseline($base-font-size * $h4Scale);
}

//
// END Article Styling
//



p {
    @include align-to-baseline(16px,-($h4Scale),-2.666);
    max-width: $maxLineLength;
}

article h1,h2,h3,h4 {
    max-width: $maxLineLength*0.698;
}
//
// Each language (french is this case) requires a specific line length
//

article p {
    font-weight: 400;
}
article p:first-child {
    font-weight: 500;
    color: #5E5E5E;
}

//
// INDENTATION - http://revoltpuppy.com/articles/89/using-ch-an-underappreciated-css-length
//

article p + p {
    @include align-to-baseline(16px,-1.333,1.333);
  text-indent: 2ch;
}

article p:first-child::first-line {
  text-indent: none;
}

//
// hanging-punctuation - https://css-tricks.com/almanac/properties/h/hanging-punctuation/
//
