@mixin center-block($width) {
    width: $width;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center {
    position: relative;
    @include center-block(80ch);
    //background-color: #ccc;
    top: 45%;
    transform: translateY(-50%);
}
